<form
    method="post"
    action="{{ path('cliente_delete', {'id': cliente.id}) }}"
    onsubmit="return confirm('Deseja realmente excluir este item?');"
    class="inline"
>
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cliente.id) }}">
    <button class="btn btn-primary">Excluir</button>
</form>
