{{ form_start(form) }}

<div class="box">
    <div class="box-body">
        {{ form_widget(form) }}
    </div>
    <div class="box-footer">
        <div class="box-tools pull-left">
            <a class="btn btn-primary" href="{{ path('cliente_index') }}">Voltar</a>
        </div>
        <div class="box-tools pull-right">
            <button class="btn">{{ button_label|default('Salvar') }}</button>
        </div>
    </div>
</div>

{{ form_end(form) }}
