{% set cliente = row %}

<a class="btn btn-primary" href="{{ path('cliente_show', {'id': cliente.id}) }}">Visualizar</a>
<a class="btn btn-primary" href="{{ path('cliente_edit', {'id': cliente.id}) }}">Editar</a>
{{ include('cliente/_delete_form.html.twig') }}
