{% extends 'base.html.twig' %}

{% block page_title %}Visualizar Cliente{% endblock %}

{% block page_content %}
    <div class="box">
        <div class="box-body">
            <table class="table app-table-show">
                <tbody>
                <tr>
                    <th>Nome</th>
                    <td>{{ cliente.nome }}</td>
                </tr>
                <tr>
                    <th>CPF</th>
                    <td>{{ cliente.cpf }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ cliente.email }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="box-footer">
            <div class="box-tools pull-left">
                <a class="btn btn-primary" href="{{ path('cliente_index') }}">Voltar</a>
            </div>
            <div class="box-tools pull-right">
                <a class="btn btn-primary" href="{{ path('cliente_edit', {'id': cliente.id}) }}">Editar</a>
                {{ include('cliente/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
