{% set produto = row %}

<a class="btn btn-primary" href="{{ path('produto_show', {'id': produto.id}) }}">Visualizar</a>
<a class="btn btn-primary" href="{{ path('produto_edit', {'id': produto.id}) }}">Editar</a>
{{ include('produto/_delete_form.html.twig') }}
