{% extends 'base.html.twig' %}

{% block page_title %}Visualizar Produto{% endblock %}

{% block page_content %}
    <div class="box">
        <div class="box-body">
            <table class="table app-table-show">
                <tbody>
                <tr>
                    <th>Código de Barras</th>
                    <td>{{ produto.codBarras }}</td>
                </tr>
                <tr>
                    <th>Nome</th>
                    <td>{{ produto.nome }}</td>
                </tr>
                <tr>
                    <th>Valor Unitário</th>
                    <td>{{ produto.valorUnitario|format_currency('BRL') }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="box-footer">
            <div class="box-tools pull-left">
                <a class="btn btn-primary" href="{{ path('produto_index') }}">Voltar</a>
            </div>
            <div class="box-tools pull-right">
                <a class="btn btn-primary" href="{{ path('produto_edit', {'id': produto.id}) }}">Editar</a>
                {{ include('produto/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
