.app-table-show th {
    width: 20%;
}

.app-table-show > tbody > tr:first-child > th {
    border: none;
}

.app-table-show > tbody > tr:first-child > td {
    border: none;
}

.app-table-row-actions {
    width: 220px;
}

.collection-item-row {
    position: relative;
}

.collection-item-close {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 15px;
}
