{% macro printRowItens(itemPedidosForm) %}
    <div class="row collection-item-row">
        <div class="col-sm-8">
            {{ form_row(itemPedidosForm.produto) }}
        </div>
        <div class="col-sm-3">
            {{ form_row(itemPedidosForm.quantidade) }}
        </div>
        <div class="col-sm-1 collection-item-close"></div>
    </div>
{% endmacro %}

{% import _self as formMacros %}

{{ form_start(form) }}

<div class="box">
    <div class="box-body">
        {{ form_row(form.cliente) }}
        {{ form_row(form.numero) }}
        {{ form_row(form.data) }}

        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Produtos</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-primary add_item_link" data-collection-holder-class="itens">
                        Adicionar Produto
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div
                    class="itens"
                    data-index="{{ form.itemPedidos|length > 0 ? form.itemPedidos|last.vars.name + 1 : 0 }}"
                    data-prototype="{{ formMacros.printRowItens(form.itemPedidos.vars.prototype)|e('html_attr') }}"
                >
                    {% for itemPedido in form.itemPedidos %}
                        {{ formMacros.printRowItens(itemPedido) }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <div class="box-tools pull-left">
            <a class="btn btn-primary" href="{{ path('pedido_index') }}">Voltar</a>
        </div>
        <div class="box-tools pull-right">
            <button class="btn">{{ button_label|default('Salvar') }}</button>
        </div>
    </div>
</div>

{{ form_end(form) }}

{% block javascripts %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {

            const addFormToCollection = (e) => {
                const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

                const item = document.createElement('div');

                item.innerHTML = collectionHolder
                    .dataset
                    .prototype
                    .replace(
                        /__name__/g,
                        collectionHolder.dataset.index
                    )
                ;

                collectionHolder.appendChild(item);

                collectionHolder.dataset.index++;
                addTagFormDeleteLink(item);
            };

            const addTagFormDeleteLink = (item) => {
                const removeFormButton = document.createElement('button');
                removeFormButton.classList.add("btn");
                removeFormButton.classList.add("btn-danger");
                removeFormButton.title = "Remover item";
                removeFormButton.innerHTML = '<i class="fas fa-times"></i>';

                const itemClose = item.querySelector('.collection-item-close');
                itemClose.appendChild(removeFormButton);

                removeFormButton.addEventListener('click', (e) => {
                    e.preventDefault();
                    // remove the li for the item form
                    item.remove();
                });
            }

            document
                .querySelectorAll('.add_item_link')
                .forEach(btn => {
                    btn.addEventListener("click", addFormToCollection)
                });

            document
                .querySelectorAll('div.collection-item-row')
                .forEach((item) => {
                    addTagFormDeleteLink(item)
                });

        });
    </script>
{% endblock %}
