{% set pedido = row %}

<a class="btn btn-primary" href="{{ path('pedido_show', {'id': pedido.id}) }}">Visualizar</a>
<a class="btn btn-primary" href="{{ path('pedido_edit', {'id': pedido.id}) }}">Editar</a>
{{ include('pedido/_delete_form.html.twig') }}
