{% extends 'base.html.twig' %}

{% block page_title %}Pedidos{% endblock %}

{% block page_content %}
    <div class="box">
        <div class="box-header with-border">
            <div class="box-tools pull-right">
                <a class="btn btn-primary" href="{{ path('pedido_new') }}">Cadastrar</a>
            </div>
        </div>
        <div class="box-body">
            {# Container onde será incluído o DataTable #}
            <div id="app-container-pedidos">Carregando...</div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
    <script>
        $(function () {
            $('#app-container-pedidos').initDataTables({{ datatable_settings(datatable) }}, {
                searching: true,
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.11.3/i18n/pt_br.json'
                },
            });
        });
    </script>
{% endblock %}
