{% extends 'base.html.twig' %}

{% block page_title %}Visualizar Pedido{% endblock %}

{% block page_content %}
    <div class="box">
        <div class="box-body">
            <table class="table app-table-show">
                <tbody>
                <tr>
                    <th>Cliente</th>
                    <td>{{ pedido.Cliente }}</td>
                </tr>
                <tr>
                    <th>Número do Pedido</th>
                    <td>{{ pedido.numero }}</td>
                </tr>
                <tr>
                    <th>Data</th>
                    <td>{{ pedido.data ? pedido.data|date('d/m/Y H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Total</th>
                    <td>{{ pedido.total|format_currency('BRL') }}</td>
                </tr>
                </tbody>
            </table>
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Produtos</h3>
                </div>
                <div class="box-body">
                    <table class="table app-table-show">
                        <tbody>
                        <tr>
                            <th>Código</th>
                            <th>Nome</th>
                            <th>Valor Unitário (R$)</th>
                            <th>Quantidade</th>
                            <th>Valor Total (R$)</th>
                        </tr>
                        {% for itemPedido in pedido.itemPedidos %}
                            <tr>
                                <td>{{ itemPedido.produto.codBarras }}</td>
                                <td>{{ itemPedido.produto.nome }}</td>
                                <td>{{ itemPedido.produto.valorUnitario|number_format(2, ',', '.') }}</td>
                                <td>{{ itemPedido.quantidade }}</td>
                                <td>{{ (itemPedido.produto.valorUnitario * itemPedido.quantidade)|number_format(2, ',', '.') }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="box-tools pull-left">
                <a class="btn btn-primary" href="{{ path('pedido_index') }}">Voltar</a>
            </div>
            <div class="box-tools pull-right">
                <a class="btn btn-primary" href="{{ path('pedido_edit', {'id': pedido.id}) }}">Editar</a>
                {{ include('pedido/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
