{% extends '@AdminLTE/layout/default-layout.html.twig' %}

{% block title %}App{% endblock %}

{% block logo_large %}App{% endblock %}

{% block sidebar_search %}{% endblock %}

{% block page_subtitle %}{% endblock %}

{% block footer %}
    <footer class="main-footer">
        <strong>Copyright &copy; 2022 <a href="#">Company</a>.</strong> Todos os direitos reservados.
    </footer>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app') }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.css"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app') }}
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.js"></script>
{% endblock %}
